{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}

    <div class="container">
        <h1>Movie index</h1>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Datesortie</th>
                    <th>ImageName</th>
                    <th>UpdatedAt</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.id }}</td>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.description }}</td>
                    <td>{{ movie.datesortie ? movie.datesortie|date('Y-m-d H:i:s') : '' }}</td>
                    <td><img src="{{asset('images/movies/'~ movie.imageName) | imagine_filter('my_thumb') }} " alt=""></td>
                    <td>{{ movie.updatedAt ? movie.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_movie_show', {'id': movie.id}) }}">
                            <button class="btn btn-success">Show</button>
                        </a>
                        <a href="{{ path('app_movie_edit', {'id': movie.id}) }}">
                            <button class="btn btn-primary">Edit</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


   <a href="{{ path('app_movie_new') }}">
     <button class="btn btn-primary"> Create new</button>
    </a>
    </div>
 
    
{% endblock %}
