{% extends 'base.html.twig' %}

{% block title %}Movie{% endblock %}

{% block body %}
    <h1>Movie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ movie.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ movie.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ movie.description }}</td>
            </tr>
            <tr>
                <th>Datesortie</th>
                <td>{{ movie.datesortie ? movie.datesortie|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ movie.imageName }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ movie.updatedAt ? movie.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_movie_index') }}">
    <button class="btn btn-dark">Back to list</button>
    </a>

    <a href="{{ path('app_movie_edit', {'id': movie.id}) }}">
        <button class="btn btn-primary">edit</button>
    </a>
    
    <br/>
     {{ include('movie/_delete_form.html.twig') }}
  
{% endblock %}
