{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<h1> Home </h1>

<h2 class="d-flex flex-wrap"> Artiste </h2>

{# {{ dump(artistes) }} #}

    <div class="d-flex flex-wrap justify-content-around">
    {% for artiste in artistes %}  
    {# {{ dump(artistes) }} #}
    <div>
        <img src="{{asset('images/artiste/' ~ artiste.imageName) | imagine_filter('poster')}}" alt="">
        <p> {{ artiste.firstName }} {{ artiste.lastName | upper }} </p>
         </div>
       {% endfor %}
    </div>
    {% endblock %}
      