{% extends 'base.html.twig' %}

{% block body %}
<h2 class="py-5"> {{ movie.title }}</h2>

<div class="d-flex">
    <div class="col-6">
     <img src="{{asset('images/movies/' ~ movie.imageName) | imagine_filter('poster')}}" alt="">
    </div>
     <div class="col-6">
         <p> {{ movie.description }}</p>
    </div>
</div>

<h3 class="py-5">Réalisateur</h3>
        <div>
          <a href="{{ path('front_artiste', {'id': movie.realisator.id}) }}" >
            <img src="{{asset('images/artiste/' ~ movie.realisator.imageName) | imagine_filter('poster')}}" alt="">
            <p> {{ movie.realisator.firstName }} {{ movie.realisator.lastName }} </p>
            </a>
         </div>
    
      <h3 class="py-5">Acteurs</h3>
     <div class="d-flex flex-wrap justify-content-around">
        {% for actor in movie.actors %}  
        <div>
         <a href="{{ path('front_artiste', {'id': actor.id}) }}"> 
            <img src="{{asset('images/artiste/' ~ actor.imageName) | imagine_filter('poster')}}" alt="">
            <p> {{ actor.firstName }} {{ actor.lastName }} </p>
            </a>
            </div>
           {% endfor %}
      </div>


{% endblock %}